*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

body {
    background: url(/red-forest-trees-n8z3bf3dv0b2cj6w.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.nav-container .nav-bar {
    display: flex;
    top: 0;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    backdrop-filter: blur(25px);
}

.nav-container .nav-bar a {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 50px;
    margin-right: 10px;
    border: 0.01em solid transparent;
    border-radius: 0.5em;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    transition: background-color,color 0.4s ease;
}

.nav-container .nav-bar a:hover {
    background-color: rgba(255, 255, 255, 0.959);
    color: #000;
}

.nav-container .nav-bar .login {
    display: inline-flex;
}

.sub-section {
    height: 80vh;
}

.sub-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.sub-panel .subs {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.sub-panel .subs .sub {
    display: flex;
    flex-direction: column;
    width: 20em;
    padding: 10px;
    border-radius: 1em;
    line-height: 1.3em;
    border: 0.1em solid #fff;
    color: #fff;
    font-size: 17px;
    backdrop-filter: blur(5px);
    background-color: transparent;
}

.sub-panel .subs .sub .sub-name {
    display: inline-flex;
    justify-content: center;;
    background-color: #000;
    width: 8em;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    opacity: 0.8;
}

.sub-panel .subs .sub .price {
    text-align: center;
    padding: 10px;
    border-radius: 1em;
    font-size: 40px;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: rgba(255, 255, 255, 0.199);
}

.sub-panel .subs .sub .price span {
    font-size: 15px;
    opacity: 0.5;
    vertical-align: middle;
}

.sub-panel .subs .sub .function {
    vertical-align: middle;
}

.sub-panel .subs .sub .function i {
    vertical-align: middle;
    margin-right: 5px;
}

.sub-panel .subs .sub a {
    margin-top: 15px;
    padding: 15px;
    border-radius: 1em;
    border: 0.01em solid #fff;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: transparent;
    transition: background-color,color 0.22s ease-in;
}

.sub-panel .subs .sub a:hover {
    background-color: #fff;
    color: #000;
}

.footer-container .footer-bar {
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    backdrop-filter: blur(25px);
    gap: 30px;
    font-size: 30px;
}
